@using BookBlogMVC.Models;
@model IEnumerable<Article>

<div class="well">
    <h3><b>Popüler Makaleler</b></h3>
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-unstyled">
                @foreach (Article populer in Model)
                {
                    <li>
                        <a href="/Home/MakaleDetay/@populer.MakaleId"><h4><b>@populer.Baslik</b></h4></a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>



